<div class="row">

<div class="main-area col-md-8">
		<div class="message">您所填写的信息有助于我向您推荐感兴趣的信息（文章，工作，程序猿），说不定还能被丛林中的hunter发现，我们会根据您的意愿公开你所填写的信息</div>
		<form class="form-horizontal">
			  <div class="form-group">
			    <label class="col-sm-2 control-label">真实姓名</label>
			    <div class="col-sm-4">
			      <input class="form-control pull-left" type="text"/>
			    </div>
                <span class="note pull-left">保密</span>
			  </div>
			  <div class="form-group">
			    <label class="col-sm-2 control-label">用户名</label>
			    <div class="col-sm-4">
			      <input class="form-control pull-left" type="text"/>
			    </div>
			  </div>
			  <div class="form-group">
			    <label class="col-sm-2 control-label">Email</label>
			    <div class="col-sm-6">
			      <input class="form-control" type="text" disable/>
			    </div>
			    <span class="note pull-left">保密</span>
			  </div>
			  <div class="form-group">
			    <label class="col-sm-2 control-label">手机</label>
			    <div class="col-sm-4">
			      <input class="form-control" type="text"/>
			    </div>
			    <span class="note pull-left">保密</span>
			  </div>
			  <div class="form-group">
			    <label class="col-sm-2 control-label">地址</label>
			    <div class="col-sm-6">
			      <input class="form-control" type="text"/>
			    </div>
			    <span class="note pull-left">保密</span>
			  </div>
			  <div class="form-group">
			    <label class="col-sm-2 control-label">性别</label>
			    <div class="col-sm-6">
			       <label class="radio-inline col-sm-3">
  					 <input type="radio" name="sex" value="male"/>男程序猿
				   </label>
				   <label class="radio-inline col-sm-3">
  					 <input type="radio" name="sex" value="female"/>女程序猿
				   </label>
			       <label class="radio-inline col-sm-3">
  					 <input type="radio" name="sex" value="unknown"/>程序猿
				   </label>
			    </div>
			  </div>
			  <div class="form-group">
			    <label class="col-sm-2 control-label">Github</label>
			    <div class="col-sm-6">
			      <input class="form-control" type="text"/>
			    </div>
			  </div>
			  <div class="form-group">
			    <label class="col-sm-2 control-label">博客</label>
			    <div class="col-sm-6">
			      <input class="form-control" type="text"/>
			    </div>
			  </div>
			  <div class="form-group">
			    <label class="col-sm-2 control-label">简介</label>
			    <div class="col-sm-6">
			      <textArea class="form-control" type="text"></textArea>
			    </div>
			  </div>
			  <div class="form-group">
			    <label class="col-sm-2 control-label">公开个人信息</label>
			    <div class="col-sm-6">
				  	<label class="radio-inline col-sm-3">
	  					 <input type="radio" name="publish" value="part"/>部分信息
					</label>
					<label class="radio-inline col-sm-3">
					  <input type="radio" name="publish" value="all"/> 全部信息
					</label>
					<label class="radio-inline col-sm-3">
					  <input type="radio" name="publish" value="none"/> 闭关勿扰
					</label>
				</div>
			  </div>
			  <div class="col-sm-8">
			  <button class="btn btn-primary pull-right">提交</button>
			  </div>
		</form>
</div>

<div class="sidebar col-md-4">
	<side-bar></side-bar>
</div>

</div>
