<div class="row" ng-controller="AccountCtrl as vm">
<div class="sidebar col-md-4">
	<side-bar></side-bar>
</div>
<div class="main-area col-md-8">
<form class="form-horizontal">
	  <div class="form-group">
			<label class="col-sm-2 control-label">原始密码</label>
		    <div class="col-sm-5">
		       <input-ext type="password" placeholder="输入密码" error="输入密码不相同或密码位数不正确" tip="6-16 为数字，字母(字母区分大小写)或符号" model="vm.originPassword"></input-ext>
		    </div>
	  </div>
	  <div class="form-group">
			<label class="col-sm-2 control-label">新密码</label>
		    <div class="col-sm-5">
		       <input-ext type="password" placeholder="输入密码" error="输入密码不相同或密码位数不正确" tip="6-16 为数字，字母(字母区分大小写)或符号" model="vm.password1" compare="vm.password2"></input-ext>
		    </div>
	  </div>
	 <div class="form-group">
			<label class="col-sm-2 control-label">新密码</label>
		    <div class="col-sm-5">
		       <input-ext type="password" placeholder="输入密码" error="输入密码不相同或密码位数不正确" tip="6-16 为数字，字母(字母区分大小写)或符号" model="vm.password2" compare="vm.password1"></input-ext>
		    </div>
	  </div>
	  <div class="col-sm-7">
		<button class="btn btn-primary pull-right" ng-click="vm.changePasswords()">提交</button>
	  </div>			
</form>
</div>

</div>

<script src="js/app/post/postService.js"></script>
<script src="js/app/account/account.js"></script>
