<div class="row" ng-controller="AccountCtrl as vm">
<div class="sidebar col-md-3">
	<side-bar></side-bar>
</div>
<div class="main-area col-md-8">
	<div ng-repeat="favor in vm.favors"></div>
</div>
</div>

<script src="js/app/account/account.js"></script>