<div class="row">
	<div class="main-area col-md-8" ng-controller="SubscribeCtrl as vm">
		<div class="message">搜索你感兴趣的文章或RSS资源</div>
		<form class="form-horizontal">
			<!--<div class="col-md-8">
				<input class="form-control" type="text" ng-model="vm.subscribeText"/>
			</div>-->
			<input-ext class="col-md-8" type="text" model="vm.subscribeText" error="{{vm.error}}"></input-ext>
			<button class="btn btn-primary pull-left" ng-click="vm.subscribe()">订阅</button>
		</form>
		<div class="clearfix"></div>
		<div class="col-md-8" ng-if="vm.loading" style="text-align:center">
			<img src="images/loading.gif"  width=30px height=30px/>
			<p style="color:#f53e32">正在加载中请耐心等待...</p>
		</div>
		<div class="search-result">
		</div>
		<div class="catelogs">
		</div>

		<div class="col-md-8">
			<post-catelog ng-repeat="catelog in vm.catelogs" catelog-data="catelog"></post-catelog>
		</div>
	</div>

	<div class="sidebar col-md-4">
		<side-bar></side-bar>
	</div>
</div>

<script>
	<script src="js/app/account/subscribe.js"></script>
	<script src="js/app/account/account.js"></script>
</script>