<div class="row">
	<div class="main-area col-md-8">
		<div class="message">搜索你感兴趣的文章或RSS资源</div>
		<form class="form-horizontal">
			<input-ext type="text" class="col-md-8"></input-ext>
			<button class="btn btn-primary pull-left">订阅</button>
		</form>
		<div class="clearfix"></div>
		<div class="caltelogs" class="col-md-8">
			
			<div>title</div>
			<div>website</div>
			<div>subscribed number</div>
			<img with="50px" height="50px" src="http://cdn.sstatic.net/stackoverflow/img/favicon.ico?v=4f32ecc8f43d"/>
		</div>

	</div>

	<div class="sidebar col-md-4">
		<side-bar></side-bar>
	</div>
</div>