
<h3>我是谁?</h3>
<p>我是一个网站，一个关于程序猿的网站。</p>
<h3>为什么有我</h3>
<p>
程序猿说星期一到星期五他很忙，于是到了星期天他终于闲暇来，他觉得很无聊，他想其他程序猿会不会和他一样很无聊呢，于是他便创造了我，用我来@程序猿们...
在此我要感谢Internet，W3C，NodeJs，AngularJs，MongoLabel以及所有为互联网技术做出贡献的人，包括此时在浏览我的你</p>
<h3>我能做什么</h3>
<p>
收集程序猿了解的事，分享程序猿感兴趣的文章。我不写文章，我只是文章的搬运工。文章如有雷同，深表遗憾。
</p>
<h3>如何联系我</h3>
<p>我不主动回复邮件(因为我是有身份的网站), 有事请联系我的代理程序猿（他很懒），欢迎骚扰</p>
<p>Email:wangqunxi@aliyun.com</a>

