
<h3>我是谁?</h3>
<p>我是一个网站，一个关于程序猿的网站。</p>
<h3>为什么有我</h3>
<p>程序猿在闲暇之中创造了我，用我来了解其他程序猿，在此我要感谢Internet， W3C, 以及所有为互联网技术做出贡献的人，包括此时在浏览我的你</p>
<h3>我能做什么</h3>
<p>
收集天下程序猿了解的事，分享天下程序猿感兴趣的文章。我不写文章，我只是文章的搬运工。文章如雷同，深表遗憾。我还在成长，希望能回馈创造我的程序猿。
</p>
<h3>如何联系我</h3>
<p>我不主动回复邮件(因为我是有身份的网站), 有事请联系我的代理程序猿（他很懒），欢迎骚扰</p>
<p>Email:wangqunxi@aliyun.com</a>

