<div ng-controller="BookCtrl as vm">
	<div class="row" ng-init="vm.initBookList(<%= books %>, <%= count %>)">
		<div class="col-md-4 col-xs-12 book" ng-repeat="book in vm.books">
			<img ng-src="{{book.imageUrl}}" alt="{{book.name}}">
			<div class="desc">
				<h4 ng-bind="book.name"></h4>
				<div>作者:<span class="author" ng-bind="book.author"><span></div>
				<div ng-if="book.originName">原作:<span class="origin" ng-bind="book.originName"></span></div>
				<div>出版社:<span class="publish" ng-bind="book.publish"></span></div>
				<div ng-if="book.translator">译者:<span class="trans" ng-bind="book.translator"></span></div>
			</div>
			<div class="clearfix"></div>
			<a class="btn btn-primary link" target="_blank" ng-href="{{book.buyLink}}">购买地址</a>
			<a class="link" target="_blank" ng-href="{{book.downloadLink}}">电子书地址</a>
		</div>
	</div>

	<div ng-if="false" class="book-submit row">
		<h3>提交书籍</h3>
		<div class="col-md-6">
			<input type="text" class="form-control" ng-model="vm.newBook.name" placeholder="书名"/>
			<input type="text"  class="form-control" ng-model="vm.newBook.author"  placeholder="作者"/>
			<input type="text"  class="form-control" ng-model="vm.newBook.originName" placeholder="原作名"/>
			<input type="text"  class="form-control" ng-model="vm.newBook.translator" placeholder="译者"/>
			<input type="text"  class="form-control" ng-model="vm.newBook.publish" placeholder="出版社"/>
			<input type="text"  class="form-control" ng-model="vm.newBook.imageUrl" placeholder="封面地址"/>
			<input type="text"  class="form-control" ng-model="vm.newBook.buyLink" placeholder="购买地址"/>
			<input type="text"  class="form-control" ng-model="vm.newBook.downloadLink" placeholder="电子书下载地址"/>
			<button class="btn btn-primary" ng-click="vm.submitBook()">提交</button>
		</div>
	</div>
</div>

<script src="js/app/book/book.js"></script>