html{
	font-size: 16px;
}

body{
	margin: 0;
    font: 12px/1.5 "Helvetica Neue",Helvetica,Tahoma,Arial,sans-serif;
    color: #656565;
    background: #f5f5f3;
}

ul, ol{
    list-style: none;
}

a{
    text-decoration: none;
    color: #333;
}

a:hover{
    text-decoration: none;
    
}

#footer{
    /*height: 100px;
    background-color: #f2f2f2;*/
}

#content{
	padding: 10px 15px;
}

.post-list{
    margin: 2px 2px;
    /*border: 1px solid #ececec;*/
}

.post{
	font-family: 微软雅黑, hei, 黑体, Arial, Helvetica, sans-serif;
    height: 290px;
    min-height: 130px;
    margin: 15px 0;
    float: left;
    background-color: #fff;
    padding: 0px 5px 10px 5px;
}

.post-title{
	font-size: 18px;
    text-transform: uppercase;
    line-height: 1.5em;
    height: 1.5em;
    overflow: hidden;
    border: none;
    color: #111;
    margin: 2px 0;
    word-wrap: break-word;
}



.post-property{
	margin-bottom: 15px;
    height: 18px;
    line-height: 20px;
    color: #bbb;
    font-size: 12px;
}

.post-property .source{
    color: #333;
}

.post .entry-body{
    max-width: 400px;
}

.post a img, .image-holder{
	width: 100%;
    height: 140px;
    line-height:140px;
    margin-bottom: 15px;
    box-shadow: 0px 6px 2px -4px #CCC;
    border: 1px solid;
    border-color: #ddd;
    -moz-box-shadow: 0px 6px 2px -4px #CCC;
    -webkit-box-shadow: 0px 6px 2px -4px #CCC;
}

.image-holder{
    font-weight: bold;
    text-align: center;
    font-size: 20px;
    color: #CCC;
}

.post:hover {
    border: 2px solid #ff5f3e
}

.entry-summary{
	margin: 0 0 5px 0;
    max-width: 400px;
    word-wrap: break-word;
    font-size: 14px;
    /*border-bottom: 2px dashed;*/
    overflow:hidden;
    text-overflow:ellipsis;
    
    min-height: 45px;
}

.post-share{
    position: absolute;
    top: 176px;
    top: 175px/9;
    right: 0;
    z-index: 10;
    color: #fff;
    background: #0da4d3;
    padding: 2px 8px;
    font-size: 0.9166666666666667em;
    display: none;
}

.sidebar{
    position: absolute;
    /*float: left;*/
    width: 220px;
    z-index: 100;
}
/*side bar directive style, it need to embed to directive file**/
.nav-menu{
    float: left;
    padding: 0px;
    background-color: #fff;
}

.nav-menu .menu-item {
    float: left;
    width: 200px;
    padding: 0 10px 0 0;
    line-height: 20px;
    text-indent: 7px;
    border-bottom: 1px solid #f5f5f3;
}


.nav-menu .menu-item a{
    float: left;
    width: 200px;
    padding: 8px 10px;
    color: #606566;
    font-size: 14px;
    line-height: 21px;
    text-indent: 7px;
    text-decoration: none;
}

.nav-menu .menu-item a:hover, .nav-menu .menu-item a.active{
    color: #ff5f3e;
    font-weight: bold;
    text-decoration: none;
    background-color: #f5f5f3;
    border-left: 6px solid #ff5f3e;

}

/**/
.main-area{
    margin:  0 0 0 250px;
    padding: 15px 15px;
    /*background-color: #fff;*/
}

.main-area .message{
    margin: 0px 10px 10px;
    color: #ff5f3e;
    background-color: #fcf8e3;
    border-radius: 3px;
    padding: 5px;
}

.form-group .note{
   margin: 2px;
   padding: 5px;
   background-color: #ff5f3e;
   color: #fff;
   border-radius: 3px; 
}


/*catelog item*/
.catelog{
    padding: 8px;
    height: 100px;
    border-top: 5px solid #ff5f3e;
    border-left: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;
    box-shadow: 0px 6px 2px -4px #CCC;
    margin: 15px 0;
    background-color: #fff;
}

.thumb-pic{
    float: left;
    /*border: 1px solid #f3f3f3;*/
    width: 80px;
    height: 80px;
}

.content{
    float: left;
    padding-left: 20px;
    height: 80px;
}

.title{
    /*float: left;*/
    font-size: 18px;
    font-weight: bold;
}

.subtitle {
    font-size: 15px;
    padding: 5px 0;
    overflow:hidden;
    text-overflow:ellipsis;
}

.subtitle a{
    color: #666;
}

.property{
    /*position: relative;
    top: 16px;*/
}

.property span{
    padding-right: 15px;
    color: #aaa;
}

.action{
    float: right;
    margin: 15px;
    /*display: inline-block;*/
    font-weight: normal;
    text-align: center;
    /*vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;*/
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 16px;
    background-color: #f0ad4e; 
    color: #fff;
    border-color: #eea236;
}

.action span{

}

.action:hover{
    background-color: #eea236;
}

/**/
.search-result{
    margin: 10px 0;
}


.entry{
    color: #333;
    font-size: 0.9rem;
    word-break: break-word;
    /*font-family: "Slab Serif", sans-serif;
    -webkit-font-smoothing: antialiased;*/
    padding: 10px 50px;
    line-height: 1.75em;
    /*max-width: 647px;*/
    margin-left: 1rem;
    margin-right: 1rem;
    background-color: #fff;
    border-radius: 4px;
}

.entry-head{
    text-align: center;
    border-bottom: 1px dotted #ccc;
}

.entry-property{
    color: #ccc;
}

.entry-property span{
    margin: 0 20px;
}

.entry-body p{
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: block;
    /*-webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;*/
}

.entry a{
    color: inherit;
    text-decoration: none;
    border-bottom: 1px solid #CCC;
}

.entry a:visited {
    color: inherit;
    text-decoration: none;
    border-bottom: 1px solid #CCC;
}

.entry-body h4{
    font-size: 1.2rem;
    font-weight: 700;
    font-family: sans-serif;
    text-rendering: optimizeLegibility;
    line-height: 1.5rem;
    text-transform: none;
    clear: both;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    letter-spacing: -0.04em;
    color: #333;
}

.entry-body img{

    max-width: 100%;
    /*width: 100%;*/
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: block;
    border-radius: 3px;
    border: 1px solid rgb(239, 239, 239);

}

.comments-list{
    margin-top: 2rem;
    margin-left: 1rem;
    margin-right: 1rem;
    background-color: #fff;
    padding: 10px 50px;
    border-radius: 3px;
}

.comments-list .title{
    border-bottom: 1px solid #ccc;
    color: #000;
    padding: 10px 0;
    border-radius: 4px;
}

.comment{
    margin: 10px;
    padding: 10px;
    /*border-bottom: 1px dotted ;*/
    background-color: #eee
}

.comment .comment-prop{
    border-bottom: 1px dotted #ccc;
    padding: 5px 0;
}

.comment .user{
    font-size: 14px;
}

.comment .user i{
    padding: 0 10px;
}

.comment .date{
    font-size: 14px;
    color: #ccc;
}

.comment .message{
    font-size: 16px;
    padding: 10px 10px;
    
}

button i{
    padding: 0 5px 0 0;
}

.book{
    margin-bottom: 30px;
    height: 215px;
}
.book img{
    float: left;
    /*width: 120px;*/
    max-width: 130px;
    width: 35%;
    height: 170px;
    /*margin: 0 10px;*/
}

.book .desc{
    float: left;
    padding: 0 5px;
    width: 65%;
}

.book h4{
    font-weight: bold;
    /*max-width: 120px;*/
    word-wrap: break-word;
    color: #333;
    margin: 5px 0;
}
.book .desc div{
    padding: 3px 0;
    word-wrap: break-word;
}
.book .desc .author, .book .desc .publish,
.book .desc .origin, .book .desc .trans{
    padding: 5px;
    color: #000;
}

.book .link{
    margin: 5px 10px 5px 0;
}

.book-submit{
    border-top: 1px dotted #333; 
    margin: 20px;
}








